/* You can add global styles to this file, and also import other style files */
body{
  background: url("./images/white.jpg") no-repeat center center fixed;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}